/* HERO STYLE START */
.hero{
    width: 100%;
    padding-top: 62px;
    padding-bottom: 250px;
    background-image: url("../images/hero-bg1.svg"),
     url("../images/hero-bg2.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 340px) 400px, calc(50% - 765px) 70px ;
    overflow: hidden;
}

.hero-content{
    display: flex;
}

.hero-content__title{
    width: 100%;
    max-width: 635px;
    margin-right: 30px;
    margin: 0;
    font-size: 100px;
    line-height: 100px;
    font-weight:var(--fontWeight);
    color: var(--colorPrimary);
}

.hero-content__title span{
    color: #F67E7E; 
}

.hero-content__desc{
    position: relative;
    width: 100%;
    max-width: 445px;
    align-self: flex-end;
    color: var(--colorPrimary);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hero-content__desc::before{
    position: absolute;
    content: "";
    width: 50px;
    height: 4px; 
    top: -79px;
    left: 0;
    background-color: #79C8C7; 
}

/* HERO RESPONSIVE STYLE START */
@media only screen and (max-width: 689px){

    .hero{
        margin-bottom: 0;
        padding-top: 45px;
        background-image: url("../images/hero-bg1.svg");
        background-position: calc(50%) 447px;
        overflow: hidden;
    }

    .hero-content{
        flex-direction: column;
        align-items: center;
    }

    .hero-content__title{
        margin-bottom: 18px;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
    }

    .hero-content__desc{
        width: 100%;
        padding-bottom: 97px;
        text-align: center;
        align-self: center;
        font-size: 15px;
        line-height: 28px;
    }

    .hero-content__desc::before{
        position: relative;
    }

}

@media only screen and (min-width: 690px) and (max-width: 1109px){

    .hero{
        padding-top: 45px;
        margin-bottom: 0;
        background-image: url("../images/hero-bg1.svg");
        background-position: calc(50%) 430px;
    }

    .hero-content{
        flex-direction: column;
        align-items: center;
    }

    .hero-content__title{
        margin-bottom: 24px;
         font-size: 64px;
        line-height: 56px; 
        text-align: center;
    }

    .hero-content__desc{
        text-align: center;
        align-self: center;
    }

    .hero-content__desc:before{
       position: relative;
    }

}
/* HERO RESPONSIVE STYLE END */

/* HERO STYLE END */

/* TEAMS STYLE START */
.teams{
    width: 100%;
    padding: 140px 0;
    background-color: var(--backgroundSecondary);
}

.teams-wrapper{
    display: flex;
    justify-content: space-between;
}

.teams-title{
    position: relative;
    max-width: 445px;
    font-size: 48px;
    padding-top: 54px;
    margin: 0;
    margin-right: 125px;
    line-height: 48px;
    font-weight: var(--fontWeight);
    color: var(--colorPrimary);
}

.teams-title::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}

.teams-list{
    display: flex;
    flex-direction: column;
}

.teams-list__item{
    position: relative;
}

.teams-list__item:not(:last-child){
    margin-bottom: 32px;
}

.teams-list__item:first-child::before{
    position: absolute;
    content:url("../icons/teams-logo1.svg");
}

.teams-list__item:nth-child(2)::before{
    position: absolute;
    content:url("../icons/teams-logo2.svg");
}

.teams-list__item:last-child::before{
    position: absolute;
    content:url("../icons/teams-logo3.svg");
}

.teams-list__item-title{
    margin: 0;
    margin-bottom: 16px;
    padding-left: 93px;
    color: #F67E7E;
    font-size: 18px;
    font-weight: var(--fontWeight);
    line-height: 28px;
}
.teams-list__item-desc{
    padding-left: 93px;
    color: var(--colorPrimary);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

/* TEAMS RESPONSIVE STYLE START */
@media only screen and (max-width: 689px){

    .teams{
        width: 100%;
        background-image: url(../images/teams-bg.svg);
        background-repeat: no-repeat;
        background-position: calc(50% + 200px) 0;
    }

    .teams-title{
        display: block;
        margin-bottom: 56px;
        font-size: 32px;
        line-height: 32px;
    }

    .teams-wrapper{
        flex-direction: column;
    }

    .teams-list__item{
        text-align: center;
    }

    .teams-list__item:not(:last-child){
        margin-bottom: 48px;
    }

    .teams-list__item:first-child::before{
        transform: translate(-50%, -50%);
        top: 16%;
        left: 50%;
    }
    
    .teams-list__item:nth-child(2)::before{
        transform: translate(-50%, -50%);
        top: 16%;
        left: 50%;
    }
    
    .teams-list__item:last-child::before{
        transform: translate(-50%, -50%);
        top: 16%;
        left: 50%;
    }

    .teams-list__item-title{
        padding-left: 0;
        padding-top: 88px;
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 28px;
    }

    .teams-list__item-desc{
        padding-left: 0;
        margin-bottom: 8px;
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (min-width: 690px) and (max-width:1109px){

    .teams{
        width: 100%;
        padding: 100px 0;
    }

    .teams-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .teams-title{
        padding-top: 32px;
        margin-bottom: 64px;
        font-size: 32px;
        line-height: 32px;
    }

    .teams-list__item{
        width: 100%;
        max-width: 600px;
    }

    .teams-list__item-desc{
        padding-right: 30px;
    }

}
/* TEAMS RESPONSIVE STYLE END */

/* TEAMS STYLE END */


/* STORIES STYLE START */
.stories{
    width: 100%;
    padding-bottom: 140px;
    text-align: center;
    background-image: url("../images/stories-bg1.svg"), url("../images/stories-bg2.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: calc(50% - 690px) 0px , calc(50% + 670px) 680px;
}

.stories-title{
    width: 100%;
    max-width: 932px;
    padding-top: 140px;
    margin: 0 auto;
    margin-bottom: 92px;
    color: var(--colorPrimary);
    font-size: 48px;
    font-weight: var(--fontWeight);
    line-height: 48px;
}

.stories-title span{
    color: var(--colorSecondary); 
}

.stories-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stories-item{
    width: 100%;
    max-width: 350px;
    padding-top: 36px;
    background-image: url("../icons/stories-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50%) 0px;
}

.stories-item__desc{
    display: inline-block;
    margin-bottom: 24px;
    color:var(--colorPrimary);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

.stories-item__name{
    margin-bottom: 2px;
    color: #79C8C7;
    font-size: 18px;
    font-weight: var(--fontWeight);
    line-height: 28px;
}

.stories-item__job{
    margin-bottom: 32px;
    color: var(--colorPrimary);
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
}

.stories-itm__pic{
    width: 62px;
    height: 62px;
}

/* STORIES RESPONSIVE START */
@media only screen and (max-width:689px){
    .stories{
        padding-top: 140px;
        padding-bottom: 164px;
    }

    .stories-title{
        padding-top: 0;
        margin-bottom: 48px;
        font-size: 32px;
        line-height: 32px;
    }

    .stories-list{
        flex-direction: column;
        align-items: center;
    }

    .stories-item:not(:last-child){
        margin-bottom: 48px;
    }

    .stories-item__desc{
        margin-bottom: 16px;
    }

    .stories-item__job{
        margin-bottom: 16px;
    }
}


@media only screen and (min-width:690px) and (max-width:1109px){
.stories{
    padding-bottom: 100px;
}

.stories-title{
    padding-top: 70px;
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
}

.stories-list{
    flex-direction: column;
}

.stories-item:not(:last-child){
    margin-bottom: 48px;
}

.stories-item__desc{
    margin-bottom: 16px;
}

.stories-item__job{
    margin-bottom: 16px;
}

}
/* STORIES RESPONSIVE END */

/* STORIES STYLE END */

/* STARTED STYLE START */
.started{
    width: 100%;
    padding: 72px 0;
    background-color: #F67E7E; 
    background-image: url("../images/started-bg.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 670px) 70px;
}

.started-title{
    color: #012F34;
    font-size: 48px;
    line-height: 48px;
}

.started-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.started-link{
    display: inline-block;
    padding: 9px 33px 11px 32px;
    color: #012F34;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    border-radius: 24px;
    border: 2px solid #012F34; 
}

.started-link:active{
    color: #FFF; 
    background-color: #012F34; 
}

/* STARTED RESPONSIVE STYLE START */
@media only screen and (max-width: 689px){

    .started{
        padding: 83px 0;
        background-image: url("../images/started-bg.svg");
        background-position: calc(50% - 170px) 150px;
    }

    .started-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .started-title{
        margin-bottom: 24px;
        font-size: 32px;
        text-align: center;
        line-height: 32px;
    }

}

@media only screen and (min-width:690px) and (max-width:1109px){
    .started{
        padding: 76px 0;
        background-position: calc(50% - 420px) 100px;
    }
}
/* STARTED RESPONSIVE STYLE END */

/* STARTED STYLE END */

/* FOOTER STYLE START */
.site-footer{
    padding: 48px 0;
}

.site-footer__wrapper{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.site-footer__nav-link__img{
    margin-bottom: 25px;
}

.site-footer__nav-list{
    display: flex;
    align-items: center;
}

.site-footer__nav-item:not(:last-child){
    margin-right: 40px;
}

.site-footer__nav-link{
    color: var(--colorPrimary);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.site-footer__nav-link:active{
    color: #F67E7E; 
}

.adrees-list{
    width: 100%;
    max-width: 445px;
}

.adrees-list__item{
    color: var(--colorPrimary);
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.6;
}

.site-footer__network-list{
    display: flex;
}

.network-list__item:not(:last-child){
    margin-right: 16px;
}


.network-list__item .bx{
   font-size: 30px;
   color: #fff;
}

.network-list__item .bx:active{
    color: #F67E7E; 
}

.site-footer__reserved{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    color:var(--colorPrimary);
}

/* FOOTER RESPONSIVE STYLE START */
@media only screen and (max-width: 689px){

    .site-footer__wrapper{
        flex-direction: column;
        align-items: center;
    }

    .site-footer__nav-link__img{
        width: 96px;
        height: 24px;
    }

    .site-footer__nav{
        margin-bottom: 24px;
        text-align: center;
    }

    .site-footer__nav-item:not(:last-child){
        margin-right: 24px;
    }

    .adrees-list{
        margin-bottom: 40px;
        text-align: center;
    }

    .network-list{
        margin-bottom: 16px;
    }

    .site-footer__reserved{
        position: relative;
        opacity: 0.6;
    }
}

@media only screen and (min-width: 690px) and (max-width:1109px){

    .adrees-list{
        max-width: 100%;
        text-align: center;
    }

    .site-footer__reserved{
        opacity: 0;
    }

}

/* FOOTER RESPONSIVE STYLE END */

/* FOOTER STYLE END */
